<section>

    <center><h1>LOGIN</h1></center>
    <br>
    <form action="login" align="center">
        <table border="1">
            <tbody>
            <tr>
                <td>ID</td>
                <td><input type="text" name="id"></td>
            </tr>
            <tr>
                <td>PWD</td>
                <td><input type="password" name="pwd"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="LOGIN"></td>
            </tr>
            </tbody>
        </table>
    </form>

</section>